@font-face {
    font-family: "RundText-SemiBold";
    src: url("RundText-SemiBold.woff2") format("woff2"),
        url("RundText-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RundText-Regular";
    src: url("RundText-Regular.woff2") format("woff2"),
        url("RundText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RundText-Light";
    src: url("RundText-Light.woff2") format("woff2"),
        url("RundText-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}