{% load static %}
{% if swedish_default %}
  <table
    cellpadding="0"
    cellspacing="0"
    style="
      font-family: Arial, Helvetica, sans-serif;
      max-width: 100%;
      width: 630px;
      margin: 0 auto;
    "
  >
    <tr>
      <td
        height="70"
        style="
          font-family: Arial, Helvetica, sans-serif;
          background-color: #3e8181;
        "
      >
        <img src="cid:Logo.png" style="width: 120px; padding:7px;" />
      </td>
    </tr>
    <tr>
      <td height="45"></td>
    </tr>
    <tr>
      <td
        style="
          font-family: Arial, Helvetica, sans-serif;
          color: #3e3e3e;
          font-size: 18px;
        "
      >
        Hej, {{fullname}}
        
      </td>
      <br>
    </tr>
    <tr>
      <td height="25"></td>
    </tr>
        <td style="color: #3e3e3e;font-size: 17px;">
          Du har en ny fråga eller kommentar från användare <b>{{fullname}}</b>. Se detaljer nedan. 
        <br>
        <br>
        Namn : {{fullname}}
        <br>
        Emailadress : {{email}}
        <br>
        Telefonnummer: : {{phone}}
        <br>
        Meddelande : {{msg}}
        <br>
      
        </td>
    <tr>
      <td height="45"></td>
    </tr>
    <tr>
      <td style="color: #3e3e3e; font-size: 17px;">
        Hälsningar,
        <br>
        The Eddi Team.    </td>
    </tr>

  
    <tr>
      <td height="30"></td>
    </tr>
    <tr>
      <td
        style="
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
          color: #3e3e3e;
          text-decoration: none;
          display: grid;
          font-size: 17px;
        "
      >
      För information eller hjälp. kontakta oss på
        <a
          style="
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            color: #3e3e3e;
            text-decoration: none;
            font-size: 17px;
          "
          href="mailto:Kontakt@eddi.nu"
        >
        Kontakt@eddi.nu</a
        >
      </td>
    </tr>
    
    <tr>
      <td height="30"></td>
    </tr>
    <tr>
      <td
        height="30"
        style="
          font-family: Arial, Helvetica, sans-serif;
          background-color: #3e8181;
        "
      ></td>
    </tr>
  </table>
{% else %}
  <table
    cellpadding="0"
    cellspacing="0"
    style="
      font-family: Arial, Helvetica, sans-serif;
      max-width: 100%;
      width: 630px;
      margin: 0 auto;
    "
  >
    <tr>
      <td
        height="70"
        style="
          font-family: Arial, Helvetica, sans-serif;
          background-color: #3e8181;
        "
      >
        <img src="cid:Logo.png" style="width: 120px; padding:7px;" />
      </td>
    </tr>
    <tr>
      <td height="45"></td>
    </tr>
    <tr>
      <td
        style="
          font-family: Arial, Helvetica, sans-serif;
          color: #3e3e3e;
          font-size: 18px;
        "
      >
        Hello, {{fullname}}
        
      </td>
      <br>
    </tr>
    <tr>
      <td height="25"></td>
    </tr>
        <td style="color: #3e3e3e;font-size: 17px;">
          You have received a new inquiry from <b>{{fullname}}</b>. Please find the details below. 
        <br>
        <br>
        Name : {{fullname}}
        <br>
        Email Address : {{email}}
        <br>
        Phone Number: : {{phone}}
        <br>
        Message : {{msg}}
        <br>
      
        </td>
    <tr>
      <td height="45"></td>
    </tr>
    <tr>
      <td style="color: #3e3e3e; font-size: 17px;">
        Thank You,
        <br>
        The Eddi Team.    </td>
    </tr>

  
    <tr>
      <td height="30"></td>
    </tr>
    <tr>
      <td
        style="
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
          color: #3e3e3e;
          text-decoration: none;
          display: grid;
          font-size: 17px;
        "
      >
        If you are in need of any assistance please contact
        <a
          style="
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
            color: #3e3e3e;
            text-decoration: none;
            font-size: 17px;
          "
          href="mailto:support@eddi.nu"
        >
          support@eddi.nu</a
        >
      </td>
    </tr>
    
    <tr>
      <td height="30"></td>
    </tr>
    <tr>
      <td
        height="30"
        style="
          font-family: Arial, Helvetica, sans-serif;
          background-color: #3e8181;
        "
      ></td>
    </tr>
  </table>
{% endif %}