<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:110px auto;width:70%;padding:50px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">Eddi</a>
      </div>
      <h3 style="font-size:1.1em">Hi,</h3>
  
      <h3>Thank you for choosing Eddi. Use the following Link for Reset Password.</h3><br>
  
  
      {% comment %} <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 10px;color: #fff;border-radius: 4px;"><a href="http://127.0.0.1:8000/changepassword/{{final_uuid}}/">Reset Password</a></h2><br><br> {% endcomment %}

      <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 10px;color: #fff;border-radius: 4px;"><a href="https://eddi-frontend.testyourapp.online/#/resetpassword?email={{final_email}}">Reset Password</a></h2><br><br>
  
  
     <h3>Regards,<br />Eddi
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:10px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>xyz</p>
        <p>random xyz</p>
        <p>city xyz</p>
      </div>
    </div>
  </div>