<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">
    <table
      width="100%"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 14px"
    >
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td>
          <table width="80%" align="left" style="font-size: 14px">
            <tr>
              <td style="font-weight: bold; font-size: 32px">Eddie AB</td>
            </tr>
            <tr>
              <td>1234 State St Sweden, 12345</td>
            </tr>
          </table>
          <table width="20%" align="right" style="font-size: 14px">
            <tr>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
                <strong>Invoice Number</strong>
              </td>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
              #{{invoice_number}}
              </td>
            </tr>

            <tr>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
                <strong>Date</strong>
              </td>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
               {{issue_date}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table
            width="49%"
            align="left"
            style="font-size: 14px; border: 1px #eee solid; padding: 10px"
          >
            <tr>
              <td style="font-size: 18px">
                <strong>Student Name:</strong> {{student_name}}
              </td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 18px">
                <strong>Date Birth:</strong> {{dob}}
              </td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
          </table>
          <table
            width="49%"
            align="right"
            style="font-size: 14px; border: 1px #eee solid; padding: 10px"
          >
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 18px">
                <strong>Company Name</strong>
              </td>
            </tr>

            <tr>
              <td>
                Address<br />
                address
              </td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 20px">
                <strong>Company Name</strong>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="font-weight: bold; font-size: 24px">Order Summery</td>
      </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td>
          <table
            width="100%"
            style="font-size: 14px; border: 1px #eee solid; padding: 10px"
          >
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 18px">
                <strong> Name of {{product_type}} </strong>
              </td>
            </tr>

            <tr>
              <td>{{course_name}}</td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="30%" align="left" style="font-size: 14px">
            <tr>
              <td style="border: 1px #eee solid; padding: 10px 8px">
                <strong>Vat Specification</strong>
              </td>
              <td style="border: 1px #eee solid; padding: 10px 8px">{{vat}}%</td>
            </tr>
          </table>
          <table width="30%" align="right" style="font-size: 14px">
            <tr>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
                <strong>Total Amount</strong>
              </td>
              <td
                style="
                  border: 1px #eee solid;
                  padding: 10px 8px;
                  line-height: 20px;
                "
              >
                {{total_fees}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td>
          <table
            width="100%"
            style="font-size: 14px; border: 1px #eee solid; padding: 10px"
          >
            <br />
            <tr>
              <td>
                <table width="25%" align="left" style="font-size: 14px">
                  <tr>
                    <td style="font-weight: bold; font-size: 20px">Eddie AB</td>
                  </tr>
                  <tr>
                    <td>1234 State St Sweden, 12345</td>
                  </tr>
                </table>
                <table
                  width="50%"
                  align="left"
                  style="font-size: 14px; text-align: center"
                >
                  <tr>
                    <td style="font-weight: bold; font-size: 20px">
                      Eddie Customer Service
                    </td>
                  </tr>
                  <tr>
                    <td>test@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Phone:076-1112314</td>
                  </tr>
                </table>
                <table width="25%" align="right" style="font-size: 14px">
                  <tr>
                    <td style="font-weight: bold; font-size: 20px">
                      Bank Account
                    </td>
                  </tr>
                  <tr>
                    <td>XXXXXXXXXX</td>
                  </tr>
                </table>
              </td>
            </tr>
            <br />
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 15px"></td>
      </tr>
      <tr>
        <td style="font-size: 14px; text-align: center">
          <table align="center">
            <tr>
              <td style="text-align: center">
                Registerd fot vat : XXXXXXXXXXXXXXX
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Eddi Ab Orgenisation Number : XXXXXXXXXX
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
