<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">
    <table
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="font-family: Arial, Helvetica, sans-serif; font-size: 12px"
    >
      <tr>
        <td width="100%" style="height: 5px"></td>
      </tr>
      <tr>
        <td width="100%">
          <table width="100%">
            <tr>
              <td width="50%" align="left">
                <table style="font-size: 12px">
                  <tr>
                    <td style="font-weight: bold; font-size: 22px">Eddie AB</td>
                  </tr>
                  <tr>
                    <td>1234 State St Sweden, 12345</td>
                  </tr>
                </table>
              </td>
              <td width="50%" align="right">
                <table width="100%" style="font-size: 12px">
                  <tr>
                    <td
                      width="50%"
                      style="border: 1px #eee solid; padding: 10px 8px"
                    >
                      <strong>Invoice Number</strong>
                    </td>
                    <td
                      width="50%"
                      style="border: 1px #eee solid; padding: 10px 8px"
                    >
                      #{{invoice_number}}
                    </td>
                  </tr>

                  <tr>
                    <td
                      width="50%"
                      style="border: 1px #eee solid; padding: 10px 8px"
                    >
                      <strong>Date</strong>
                    </td>
                    <td
                      width="50%"
                      style="border: 1px #eee solid; padding: 10px 8px"
                    >
                      {{issue_date}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 5px"></td>
      </tr>
      <tr>
        <td width="100%">
          <table width="100%">
            <tr>
              <td width="50%" align="left">
                <table
                  width="100%"
                  align="left"
                  style="font-size: 12px; border: 1px #eee solid; padding: 10px"
                >
                  <tr>
                    <td width="100%" style="font-size: 14px">
                      <strong>Student Name:</strong> {{student_name}}
                    </td>
                  </tr>
                  <tr>
                    <td width="100%" style="font-size: 14px">
                      <strong>Date Birth:</strong> {{dob}}
                    </td>
                  </tr>
                  <tr>
                    <td style="height: 10px"></td>
                  </tr>
                </table>
              </td>
              <td width="50%" align="right">
                <table
                  width="100%"
                  align="right"
                  style="font-size: 12px; border: 1px #eee solid; padding: 10px"
                >
                  <!-- <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 14px">
                <strong>Company Name</strong>
              </td>
            </tr>

            <tr>
              <td>
                Address<br />
                address
              </td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
            <tr>
              <td style="font-size: 18px">
                <strong>Company Name</strong>
              </td>
            </tr> -->
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td style="font-weight: bold; font-size: 18px; width: 100%">
          Order Summery
        </td>
      </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td style="width: 100%" align="left">
          <table
            width="100%"
            style="font-size: 12px; border: 1px #eee solid; padding: 10px"
          >
            <tr>
              <td width="100%" style="height: 10px"></td>
            </tr>
            <tr>
              <td width="100%" style="font-size: 14px">
                <strong> Name of {{product_type}} </strong>
              </td>
            </tr>

            <tr>
              <td width="100%">{{course_name}}</td>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td width="50%" align="left">
                <table width="100%" align="left" style="font-size: 12px">
                  <tr>
                    <td style="border: 1px #eee solid; padding: 10px 8px">
                      <strong>Vat Specification</strong>
                    </td>
                    <td style="border: 1px #eee solid; padding: 10px 8px">
                      {{vat}}%
                    </td>
                  </tr>
                </table>
              </td>
              <td width="50%" align="right">
                <table width="100%" align="left" style="font-size: 12px">
                  <tr>
                    <td style="border: 1px #eee solid; padding: 10px 8px">
                      <strong>Total Amount</strong>
                    </td>
                    <td style="border: 1px #eee solid; padding: 10px 8px">
                      {{total_fees}}
                    </td>
                  </tr>
                </table>
              </td>
              <!-- <td width="50%" align="right">
                <table width="100%" align="right" style="font-size: 12px">
                  <tr>
                    <td
                      style="
                        border: 1px #eee solid;
                        padding: 10px 8px;
                      "
                    >
                      <strong>Total Amount</strong>
                    </td>
                    <td
                      style="
                        border: 1px #eee solid;
                        padding: 10px 8px;
                      "
                    >
                      {{total_fees}}
                    </td>
                  </tr>
                </table>
              </td> -->
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td>
          <table
            width="100%"
            cellpadding="0"
            cellspacing="0"
            style="border: 1px #eee solid; padding: 10px"
          >
            <td width="25%" align="left">
              <table width="100%" style="font-size: 12px">
                <tr>
                  <td style="font-weight: bold; font-size: 16px">Eddie AB</td>
                </tr>
                <tr>
                  <td>1234 State St Sweden, 12345</td>
                </tr>
              </table>
            </td>
            <td width="50%" align="center">
              <table width="100%" style="font-size: 12px; text-align: center">
                <tr>
                  <td style="font-weight: bold; font-size: 16px">
                    Eddie Customer Service
                  </td>
                </tr>
                <tr>
                  <td>test@gmail.com</td>
                </tr>
                <tr>
                  <td>Phone:076-1112312</td>
                </tr>
              </table>
            </td>
            <td width="25%" align="left">
              <table width="100%" style="font-size: 12px">
                <tr>
                  <td style="font-weight: bold; font-size: 16px">
                    Bank Account
                  </td>
                </tr>
                <tr>
                  <td>XXXXXXXXXX</td>
                </tr>
              </table>
            </td>
          </table>
        </td>
      </tr>
      <tr>
        <td style="height: 10px"></td>
      </tr>
      <tr>
        <td width="100%" style="font-size: 12px; text-align: center">
          <table align="center">
            <tr>
              <td style="text-align: center">
                Registerd fot vat : XXXXXXXXXXXXXXX
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                Eddi Ab Orgenisation Number : XXXXXXXXXX
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
