<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  </head>
  <body>
    <table style="font-family: Verdana, Geneva, sans-serif; width: 100%">
      <tr>
        <td style="font-family: Verdana, Geneva, sans-serif; width: 100%">
          <table
            style="
              font-family: Verdana, Geneva, sans-serif;
              width: 100%;
              padding-bottom: 20px;
              border-bottom: 1px solid #00000020;
            "
          >
            <tr style="font-family: Verdana, Geneva, sans-serif; width: 100%">
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <div
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    font-size: 33px;
                    font-weight: bold;
                  "
                >
                  Eddie Website
                </div>
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    margin-top: 30px;
                    width: 30%;
                    font-size: 14px;
                  "
                >
                  1234 State St Sweden, 12345
                </p>
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    margin-top: 30px;
                    width: 30%;
                    font-size: 14px;
                  "
                ></p>
              </td>
              <td
                align="right"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <div
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    font-size: 33px;
                    font-weight: bold;
                  "
                >
                  Invoice
                </div>
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    margin-top: 30px;
                    width: 30%;
                    font-size: 14px;
                  "
                >
                  #101020
                </p>
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    margin-top: 30px;
                    width: 30%;
                    font-size: 14px;
                  "
                ></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-family: Verdana, Geneva, sans-serif; width: 100%">
          <table
            style="
              font-family: Verdana, Geneva, sans-serif;
              width: 100%;
              padding-top: 40px;
              padding-bottom: 40px;
              border-bottom: 1px solid #00000020;
            "
          >
            <tr style="font-family: Verdana, Geneva, sans-serif; width: 100%">
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 60%"
              >
                <table
                  style="font-family: Verdana, Geneva, sans-serif; width: 100%"
                >
                  <tr>
                    <td
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                      "
                    >
                      <div
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-weight: bold;
                        "
                      >
                        Client Contact Info:
                      </div>
                      <p
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-size: 12px;
                        "
                      >
                        Eddi Kristan
                      </p>
                      <p
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-size: 12px;
                        "
                      >
                        eddi@gmail.com
                      </p>
                    </td>
                    <td
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                      "
                    >
                      <div
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-weight: bold;
                        "
                      >
                        Bill To:
                      </div>
                      <p
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-size: 12px;
                        "
                      >
                        John Doe
                      </p>
                      <p
                        style="
                          font-family: Verdana, Geneva, sans-serif;
                          margin: 0;
                          font-size: 12px;
                        "
                      >
                        6789 Mac Ln Sweden, 54321
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
              <td
                align="right"
                style="font-family: Verdana, Geneva, sans-serif; width: 40%"
              >
                <table
                  style="font-family: Verdana, Geneva, sans-serif; width: 100%"
                >
                  <tr>
                    <td
                      align="left"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;

                        font-weight: bold;
                      "
                    >
                      Client Name
                    </td>
                    <td
                      align="right"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                        font-weight: bold;
                      "
                    >
                      Kristan
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="left"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        font-size: 12px;
                        width: 50%;
                      "
                    >
                      Issue Date
                    </td>
                    <td
                      align="right"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                        font-size: 12px;
                      "
                    >
                      09.10.20
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="left"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                        font-size: 12px;
                      "
                    >
                      Due Date
                    </td>
                    <td
                      align="right"
                      style="
                        font-family: Verdana, Geneva, sans-serif;
                        width: 50%;
                        font-size: 12px;
                      "
                    >
                      10.10.20
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table style="font-family: Verdana, Geneva, sans-serif; width: 100%">
            <tr
              style="
                font-family: Verdana, Geneva, sans-serif;
                display: block;
                width: 100%;
                border-bottom: 1px solid #00000020;
                padding: 10px 0;
              "
            >
              <td
                style="
                  font-family: Verdana, Geneva, sans-serif;
                  font-size: 14px;
                  font-weight: bold;
                "
              >
                Charges
              </td>
            </tr>
            <tr
              style="
                font-family: Verdana, Geneva, sans-serif;
                display: inline-flex;
                width: 100%;
                border-bottom: 1px solid #00000020;
              "
            >
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 12px;
                  "
                >
                  Name of Course
                </p>
              </td>
              <td
                align="right"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 12px;
                  "
                >
                  $60.00
                </p>
              </td>
            </tr>
            <tr
              style="
                font-family: Verdana, Geneva, sans-serif;
                display: inline-flex;
                width: 100%;
                border-bottom: 1px solid #00000020;
              "
            >
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 12px;
                  "
                >
                  VAT Charges
                </p>
              </td>
              <td
                align="right"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 12px;
                  "
                >
                  $40.00
                </p>
              </td>
            </tr>
            <tr
              style="
                font-family: Verdana, Geneva, sans-serif;
                display: inline-flex;
                width: 100%;
              "
            >
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 18px;
                  "
                >
                  Total
                </p>
              </td>
              <td
                align="right"
                style="font-family: Verdana, Geneva, sans-serif; width: 50%"
              >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    font-size: 18px;
                  "
                >
                  $100.00
                </p>
              </td>
            </tr>
            <tr>
              <td height="200"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="font-family: Verdana, Geneva, sans-serif; width: 100%">
          <table
            style="
              font-family: Verdana, Geneva, sans-serif;
              width: 100%;
              padding-top: 30px;
              border-top: 1px solid #00000020;
            "
          >
            <tr style="font-family: Verdana, Geneva, sans-serif; width: 100%">
              <td
                align="left"
                style="font-family: Verdana, Geneva, sans-serif; width: 40%"
              >
                <div
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;

                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Payments:
                </div>
                <span
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin-top: 10px;
                    font-size: 12px;
                  "
                >
                  Make checks payable to:</span
                >
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    width: 60%;
                    font-size: 12px;
                  "
                >
                  Eddi Website 1234 State St Sweden, 12345
                </p>
              </td>
              <td style="font-family: Verdana, Geneva, sans-serif; width: 50%">
                <div
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;

                    font-size: 14px;
                    font-weight: bold;
                  "
                >
                  Questions
                </div>
                <p
                  style="
                    font-family: Verdana, Geneva, sans-serif;
                    display: block;
                    margin: 0;
                    width: 30%;
                    margin-top: 10px;
                    font-size: 12px;
                  "
                >
                  Eddi Pvt Ltd support@eddi.com 123-456-7890
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
