{% load static %}
<table
  cellpadding="0"
  cellspacing="0"
  style="
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    width: 630px;
    margin: 0 auto;
  "
>
  <tr>
    <td
      height="70"
      style="
        font-family: Arial, Helvetica, sans-serif;
        background-color: #3e8181;
      "
    >
      <img src="cid:Logo.png" style="width: 120px;height: 120px" />
    </td>
  </tr>
  <tr>
    <td height="45"></td>
  </tr>
  <tr>
    <td
      style="
        font-family: Arial, Helvetica, sans-serif;
        color: #3e3e3e;
        font-size: 18px;
      "
    >
      Hello {{ fullname }},
      <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold"
        ></span
      >
    </td>
  </tr>
  <!-- <tr>
    <td style="color: #3e3e3e">
      Please find below Pay By Invoice Details,
      <br>
      <br>
      Student_name : {{student_name}}
      <br>
      Personal_number : {{personal_number}}
      <br>
      Organization_name : {{organization_name}}
      <br>
      Organization_number : {{organization_number}}
      <br>
      Street_number : {{street_number}}
      <br>
      Reference : {{reference}}
      <br>
      Zip_code : {{zip_code}}
      <br>
      Contry : {{contry}}
      <br>
      City : {{city}}
      <br>
      Invoice_address : {{invoice_address}}
      <br>
      Price : {{price}}
      <br>
      Payment_mode : {{payment_mode}}
      <br>
      Product_type : {{product_type}}
      <br>
      <br>
    </td>
  </tr> -->
  <tr>
    <td style="
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3e3e3e;
    text-decoration: none;
  ">
      
    </td>
  </tr>
  <tr>
    <td
      style="
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        color: #3e3e3e;
        text-decoration: none;
        display: grid;
      "
    >
    Thank You,
    <br>
    The Eddi Team.
      <a
        style="
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
          color: #3e3e3e;
          text-decoration: none;
        "
        href="mailto:support@eddi.nu"
      >
      If you are in need of assistance please contact
        </a
      >
    </td>
  </tr>
  <tr>
    <td height="45"><a href="support@eddi.nu">support@eddi.nu</a></td>
  </tr>
  <tr>
    <td
      height="30"
      style="
        font-family: Arial, Helvetica, sans-serif;
        background-color: #3e8181;
      "
    ></td>
  </tr>
</table>
